body{
    background-image: url("../../img/home/p1.jpg");
    background-size: 100%;
}
a {
    border: black solid 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(228, 0, 43, 1);
}
#shopkeeper {
    position: fixed;
    top: 33px;
    right: 33px;
    padding: 5px;
    border-radius: 10px;
}
#chang_background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}