/* พื้นหลังทั้งหมด */
body{
    background-image: url("../../img/home/p1.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
fieldset{
    border: 3px solid black;
    margin-bottom: 5px;
}
#head{
    color: white;
}
/* พื้นหลังเทา */
textarea{
    border:2px solid black;
    padding: 5px;
    opacity:0.5;
}
/* ปุ่ม สีเทา */
#photo{
    background-color: rgba(196, 196, 196, 1);
    width: 80px;
}
/* ปุ่ม สีแดง ขนาดใหญ่ */
#save{
    color: white;
    background-color: rgba(228, 0, 43, 1);
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid black;
    border-radius: 10px;
}
/*ข้อความ ตัวอย่าง*/
#ex{
    color: white;
}
#out{
    color: white;
    background-color: rgba(228, 0, 43, 1);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
/* .textInput{
    position: relative;
    left:35%;
} */

#file-sava{
    /* position: relative;
    left: 15px; */
}
b{
    color: white;
    /* margin-bottom: 10px; */
}
.input{
    margin-top: 1px;
    opacity: 0.7;
    border:2px solid black;
    padding: 5px;
    width: 200px;
}
select{
    /* width: 200px; */
    height: 30px;
    margin-bottom: 10px;
    opacity: 0.7;
}
#circleTop{
    background-color: rgba(228, 0, 43, 1);
    position: fixed;
    left: -175px;
    top:-163px;
    border-radius: 20em;
    border: 3px solid black;
    z-index: -1;
}
#circleBottom{
    background-color: rgba(228, 0, 43, 1);
    border-radius: 40em;
    border: 3px solid black;
    z-index: -1;
}