/* ขนาด กรอบ สีดำ*/
.size{
    width: 250px;
    position: relative;
    left: 9%;
    top : 70px;
    text-align: center;
}
/* หัวข้อ สีขาว เพิ่มขนาด*/
#head{
    font-size: 24px;
    text-align: left;
}
/* ตัวอย่าง สีขาว มุมขวา  */
#ex{
    font-size: 24px;
    /* ระบบตัวแหน่งเลย */
    margin-top: 25%;
    margin-left: 12%;
}

/* ปุ่มแเดง */
#out{
    position: absolute;
    right: 10%;
    top:20px;
    text-decoration: none;
}
#borderInputImg{
    text-align: center;
    margin-top: 80px;    
}
#ex{
    position: relative;
    top: -60px;
}
#to{
    position: relative;
    top: -60px;
}
/*วงกลมสีเเดง*/
#circleTop{
    width: 350px;
    height: 350px;
}
#circleBottom{
    width: 400px;
    height: 400px;
    position: fixed;
    right: -200px;
    bottom: -200px;
}
